*{
    padding: 0;
    margin: 0;
}
nav, h1{
    position: sticky;
    top: 0;
    background-color: aqua;
    color: black;
}
body{
    background: rgba(0, 0, 0, 0.6) url('goku.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

h2{
    background-color: red;
}